.industryList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 20px;
}

.parent {
    width: 100%;
}